REACT_APP_NAME = "Aspecir Empréstimos"

REACT_APP_API_URL=$CORE_URL
REACT_APP_API_CONTACT_FORM_URL=$CORE_URL/api/contato

REACT_APP_API_SITE_URL=$CORE_URL/api/sites/4
REACT_APP_API_CONTENT_URL=$CORE_URL/api/sites/4/conteudo
REACT_APP_API_NOTICIAS_URL=$CORE_URL/api/sites/4/noticias
REACT_APP_API_NOTICIA_URL=$CORE_URL/api/noticias