* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*header*/

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;
    padding: 15px;
}


.logo {
    margin-right: auto;
}

.gear {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.meus-bruxos {
    height: 40px;
    width: (100%);
    background-color: blueviolet;
    margin-left: auto;
    padding-left: auto;
    padding-right: (50vw);
    display: flex;
    align-items: center;
    justify-content: left;

}


/*menu lateral esquerdo*/

.menu-lateral-esquerdo {
    height: 500px;
    width: 120px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*lista*/

.add-form {
    margin-left: 130px;
    margin-top: -500px;
}



/*barra inferior*/

barra-inferior {
    background-color: aquamarine;

    padding-right: 200px;
}